<h4>Ingredients</h4>
<br>
<ngb-alert *ngIf="topErrorMessage" type="danger" (close)="topErrorMessage = null">{{topErrorMessage}}</ngb-alert>
<ul class="list-group">
  <li *ngFor="let ingredient of ingredients" class="list-group-item d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-1">
          <button [disabled]="ingredient.usedInDishes > 0" (click)="deleteIngredient(ingredient)" type="button" class="btn btn-danger">Delete</button>
        </div>
        <div class="col-6 col-md-10">
          {{ingredient.name}} ({{ingredient.measure}})
        </div>
        <div class="col-2 col-md-1">
          <span class="badge badge-primary badge-pill">{{ingredient.usedInDishes}}</span>
        </div>
      </div>
    </div>
  </li>
</ul>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="card bg-light mb-3">
      <div class="card-header">Add new ingredient</div>
      <div class="card-body">
        <div class="card-text">
          <form (ngSubmit)="addIngredient(newIngredient)" #ingredientForm="ngForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label class="sr-only" for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name" [(ngModel)]="newIngredient.name" required>
              </div>
              <div class="form-group col-md-6">
                <label class="sr-only" for="measure">Measure type</label>
                <input type="text" class="form-control" name="measure" id="measure" placeholder="Measure (for example g., ml., etc)"
                       [(ngModel)]="newIngredient.measure">
              </div>
            </div>
            <ngb-alert *ngIf="creationErrorMessage" type="danger" (close)="creationErrorMessage = null">{{creationErrorMessage}}</ngb-alert>
            <button type="submit" [disabled]="!ingredientForm.form.valid" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
