  <div class="row">
    <div class="col-md-5">
      <div class="card bg-light mb-3">
        <div class="card-header">Planning</div>
        <div class="card-body">
          <div class="card-text">
            <form (ngSubmit)="getPlanning()" #dishForm="ngForm">
              <div class="row">
                <div class="form-group col-md-6">
                  <input type="number" class="form-control" name="servings" placeholder="Servings"
                         [(ngModel)]="planningRequest.servings" required>
                </div>
                <div class="form-group col-md-8 col-8">
                  <select class="custom-select" name="dishType" [(ngModel)]="planningRequest.dishType" required>
                    <option *ngFor="let dishType of dishTypes" [ngValue]="dishType.value">{{dishType.name}}</option>
                  </select>
                </div>
              </div>
              <hr>
              <button type="submit" [disabled]="!dishForm.form.valid" class="btn btn-success" value="Submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<div *ngIf="result">
  <ngx-htl-horizontal-timeline [(items)]="items"></ngx-htl-horizontal-timeline>
  <div *ngFor="let ingredient of result.ingredients">
    {{ingredient.name}} {{ingredient.measure}} {{ingredient.quantity}}
  </div>
  <div *ngFor="let dish of result.dishes">
    {{dish.name}} - {{dish.servings}} : {{dish.date}}
  </div>
</div>
