<h4>Dishes</h4>
<br>
<ul class="list-group">
  <li *ngFor="let dish of dishes" class="list-group-item d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-4 col-md-1">
          <button (click)="deleteDish(dish)" type="button" class="btn btn-danger">Delete</button>
        </div>
        <div class="col-8 col-md-3">
          {{dish.name}} ({{dish.servings}} servings) {{dish.type.valueOf()}}
          <i class="fas fa-seedling" *ngIf="dish.type  == dishTypes.vegetarian"></i>
            <i class="fas fa-drumstick-bite" *ngIf="dish.type == dishTypes.meat"></i>
            <i class="fas fa-fish" *ngIf="dish.type == dishTypes.fish"></i>
        </div>
        <div class="col-12 col-md-8">
          {{getIngredients(dish)}}
        </div>
      </div>
    </div>
  </li>
</ul>
<br />
<div class="row">
  <div class="col-md-5">
    <div class="card bg-light mb-3">
      <div class="card-header">Add new dish</div>
      <div class="card-body">
        <div class="card-text">
          <form (ngSubmit)="addDish()" #dishForm="ngForm">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="name" id="name" placeholder="Name" [(ngModel)]="newDish.name" required>
              </div>
              <div class="form-group col-md-6">
                <input type="number" class="form-control" name="measure" id="measure" placeholder="Servings" required
                       [(ngModel)]="newDish.servings">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="type" [(ngModel)]="newDish.type" required>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="dishTypes.vegetarian"> <i class="fas fa-seedling"></i>
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="dishTypes.meat"> <i class="fas fa-drumstick-bite"></i>
                  </label>
                  <label ngbButtonLabel class="btn-primary">
                    <input ngbButton type="radio" [value]="dishTypes.fish"> <i class="fas fa-fish"></i>
                  </label>
                </div>
              </div>
            </div>
            <hr>
            <h6>Ingredients:</h6>
            <div class="row" *ngFor="let ing of newDish.ingredients; let i = index;">
              <div class="form-group col-md-8 col-8">
                <select class="custom-select" [(ngModel)]="ing.ingredientId" name="ingredientId-{{i}}" required>
                  <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient.id">{{ingredient.name}} ({{ingredient.measure}})</option>
                </select>
              </div>
              <div class="form-group col-md-3 col-3">
                <input type="number" min="1" class="form-control" required name="quantity-{{i}}" [(ngModel)]="ing.quantity" placeholder="Qty">
              </div>
              <div class="form-group col-md-1 col-1">
                <button type="button" class="btn btn-default"><i class="fas fa-trash"></i></button>
              </div>
              <br>
            </div>
            <hr>
            <div class="form-group">
              <button type="button" (click)="addIngredient()" class="btn btn-secondary">Add ingredient</button>
            </div>
            <ngb-alert *ngIf="creationErrorMessage" type="danger" (close)="creationErrorMessage = null">{{creationErrorMessage}}</ngb-alert>
            <button type="submit" [disabled]="!dishForm.form.valid" class="btn btn-success" value="Submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
